<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Evaluación final</title>
  <link rel="icon" href="./favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <button><img src="./assets/images/ico-menu.svg"></button>
    </header>
    <hero>
      <h1>ANONIMOUS PROXY</h1>
      <P>In hac habitasse platea dictumst.</P>
      <button><img src="./assets/images/ico-scroll-down.svg" alt="Bajar al menú"></button>
    </hero>
    <main class="main">
      <section class="main__first">
        <span>Imsomnia Tips</span>
        <h2>Looking Through A Window</h2>
        <p>Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
          semper sodales rutrum.</p>
        <button>Go</button>
      </section>
      <section class="main__second">
        <h2>3 Reasons To Purchase</h2>
        <article class="main__second--reasons">
          <h3>Ut sed metus</h3>
          <p>Lorem ipsum dolor sit amet, consecteur.</p>
        </article>
        <article class="main__second--reasons">
          <h3>Curabitur ac erat</h3>
          <p>Mauris mattis urna quis lorem molestie.</p>
        </article>
        <article class="main__second--reasons">
          <h3>Morbi dictum</h3>
          <p>Aliquam in dolor et dolor tincidunt.</p>
        </article>
        <button>More reasons</button>
      </section>
    </main>

    <footer class="footer">
      <img src="./assets/images/ico-arrow.svg" alt=Subir>
      <nav class="footer__categories">
        <ul>
          <li><a href="#">Articles</a></li>
          <li><a href="#">Books</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Reasons</a></li>
          <li><a href="#">Tips</a></li>
        </ul>
      </nav>
      <nav class="footer__social">
        <ul>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Mastodon.social</a></li>
        </ul>
      </nav>
      <div class="footre__copy">
        <span>©2017</span>
        <small>we ❤︎ components</small>
      </div>
    </footer>
  </div>
</body>

</html>