@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    } 
    50% {
      opacity: 1;
    }
}
.main{
    &__first{
    width: 100%;
    height: 376px;
    background-color: $light;
    padding: 30px $padding-right 0 $padding-left;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    @media all and (min-width:768px){
        padding: 39px;
        height: 330px;
        display: inline-block;
    }
    @media all and (min-width: 1280px){
        height: 360px;
        padding-top: 60px;
        padding-left: 275px;
    }

        &--small{
        height: 30px;
        font-family: $fontText;
        font-size: 14px;
        line-height: 2.14;
        color: lightBlue;
        @media all and (min-width: 1280px){
            font-size: 16px;
            }
        }   

        &--title{
        width: 100%;
        height: 60px;
        font-size: 24px;
        font-family: $fontTitle;
        color: $dark;
        margin: 1px;
        @media all and (min-width:768px){
            width: 690px;
            height: 45px;
            font-size: 26px;
            line-height: 1.73;
            }
        @media all and (min-width: 1280px){
            font-size: 32px;
            }
        }

        &--text{
        width: 100%;
        height: 120px;
        margin-top:15px;
        margin-bottom: 30px;
        color: $greyish;
        font-family: $fontText;
        font-size: 18px;
        font-weight: normal;
        line-height: 1.67;
        @media all and (min-width:768px){
            width: 690px;
            height: 60px;
            margin-top:30px;
            font-size: 20px;
            }
        }
  
        &--button{
        width: 76px;
        height: 45px;
        border-radius: 22.5px;
        border: solid 2px $orange;
        background-color: $light;
        color: $orange;
        font-size: 20px;
        font-family: $fontText;
        font-weight: 500;
        text-align: center;
        margin-bottom: 45px;
        animation-name: 'zoomIn';
        animation-duration: 4s;
        transition: color ease 2s;
        transition: background-color ease 1s;
            &:hover{
                color: $light;
                background-color: $orange;
                box-shadow: 0 8px 15px rgba(0, 0, 0, 0.4);
            }
        @media all and (min-width:768px){
            width: 91px;
            margin-bottom: 60px;
            }
        @media all and (min-width: 1280px){
            width: 160px;
            }
        }
    }
}
