.footer{
    width: 100%;
    height: 465px;
    padding-top: 45px;
    background-color: $darkBlue;
    color: $light;
    text-transform: uppercase;
    font-family: $fontText;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    @media all and (min-width:768px){
        height: 240px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
    @media all and (min-width: 1200px){
        justify-content: center;
    }

    &__button {
        width: 45px;
        height: 45px;
        background-color: $light;
        border: none;
        border-radius: 50%;
        position: relative;
        top: -70px;
        @media all and (min-width:768px){
            left: 350px;
        }
    }
    &__sections{
        text-align: center;
        @media all and (min-width:768px){
            display: flex;
            flex-direction: row;
        }
    }

    &__categories{
        width: 73px;
        height: 150px;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        
        @media all and (min-width:768px){
            width: 210px;
            height: 150px;
            text-align: justify;
            order: 2;
            margin: 0;
        }
    }

    &__social{
        width: 147px;
        height: 90px;
        font-size: 16px;flex-direction: column;
        line-height: 1.88;
        text-align: center;
        @media all and (min-width:768px){
            width: 210px;
            height: 90px;
            text-align: justify;
            order: 3;
        }
    }

    &__copy{
        font-size: 14px;
        font-family: $fontText;
        line-height: 2.14;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media all and (min-width:768px){
            order: 1;
        }
        &--simbol{
            color: $orange;
            }
        &--year{
        @media all and (min-width:768px){
            width: 210px;
            height: 30px;
            text-align: justify;
            }
        }
        &--small{
            @media all and (min-width:768px){
                width: 210px;
                height: 30px;
                text-align: justify;
                }
            }
        
    }
}