/*---MAIN-SECOND-SECTION---*/
.main__second {
    width: 100%;
    height: 624px;
    background-color: $iceBlue;
    padding: 30px $padding-right 0 $padding-left;
    @media all and (min-width:768px){
        height: 397px;
        display: block;
    }
    @media all and (min-width: 1200px){
        height: 427px;
        padding: 60px 82px;
    }

    &--title{
    width: 100%;
    height: 30px;
    font-size: 24px;
    font-family: $fontTitle;
    color: $dark;
    margin: 0;
    margin-bottom: 45px;
    text-align: center;
    @media all and (min-width:768px){
        width: 450px;
        height: 45px;
        margin: 0 auto 45px auto;
        font-size: 26px;
        text-align: center;
        }
    }
}
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 45px;
    @media all and (min-width:768px){
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
.article{
    padding: 2px;
    text-align: center;
    font-size: 18px;
    color: $dark;

    &__title{
    width: 184px;
    height: 30px;
    font-family: $fontTitle;
    font-weight: bold;
    text-align: center;
    margin: auto;
    @media all and (min-width:768px){
        width: 210px;
        height: 30px;
        margin-bottom: 14px;
        font-size: 24px;
        }
    }
    &__text{
    width: 180px;
    height: 63px;
    font-family: $fontText;
    line-height: 1.67;
    margin: auto;
    @media all and (min-width:768px){
        width: 212px;
        height: 68px;
        font-size: 20px;
        }
    }
}
.main__second--button{
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    border: none;
    background-color: $orange;
    color: $light;
    font-size: 20px;
    font-family: $fontText;
    font-weight: 500;
    text-align: center;
    position: absolute;
    right: 68px;
    bottom: -940px;
        &:hover{
            background-color: $light;
            color: $orange;
            border: 2px solid $orange;
        }
    @media all and (min-width:768px){
        width: 210px;
        left: 290px;
        bottom: -850px;
        }
    @media all and (min-width: 1200px){
        width: 255px;
        left: 480px;
        bottom: -800px;
    }
}