/*---COLORS---*/
$dark: #000000;
$light: #fff;
$greyish: #4a4a4a;
$orange: #f26002;
$iceBlue: #eff9ff;
$darkBlue: #304268;

/*---FONT---*/
$fontTitle: 'Roboto Slab', sans-serif;
$fontText: 'Roboto', sans-serif;

/*---STYLE---*/
$padding-left:15px;
$padding-right: 15px;